<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762981402377-dc70nseoukpu47k2hmr1geai6oqp68rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762981402377-dc70nseoukpu47k2hmr1geai6oqp68rv</string>
	<key>API_KEY</key>
	<string>AIzaSyCxnxeq_jSyT-TIbpd5a8Kn_hlquxXGtSM</string>
	<key>GCM_SENDER_ID</key>
	<string>762981402377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>seyitihsan.Snapchat-Clone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-clone-b5172</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-clone-b5172.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762981402377:ios:8b4590236f1e187591b5d8</string>
</dict>
</plist>